<div id="<%= dom_id praktikanter %>">
  <tbody>
    <tr>
    <td><%= praktikanter.first_förnamn %></td>
    <td><%= praktikanter.efternamn %></td>
    <td><%= praktikanter.email %></td>
    <td><%= praktikanter.telefon %> </td>
    <td><%= praktikanter.linkedin %></td>
    <td><%= link_to "Visa", praktikanter %></td>
   </tr>
