<div id="<%= dom_id praktikanter %>">
  <p>
    <strong>Förnamn:</strong>
    <%= praktikanter.first_förnamn %>
  </p>

  <p>
    <strong>Efternamn:</strong>
    <%= praktikanter.efternamn %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= praktikanter.email %>
  </p>

  <p>
    <strong>Telefon:</strong>
    <%= praktikanter.telefon %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= praktikanter.linkedin %>
  </p>

</div>
