<div id="<%= dom_id projekt %>">
<tbody>
    <tr>
    <td><%= projekt.namn %></td>
    <td><%= projekt.beskrivning %></td>
    <td><%= projekt.ägare %></td>
    <td><%= projekt.status %></td>
    <td><%= link_to "Visa", projekt %></td>
   </tr>

</div>
